<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<mat-card *ngIf = "(authService.getUser()| async)">
    <h1>Add Student</h1>
    <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="Math Grade"
                    [(ngModel)] = "math"
                    name = "math">
        </mat-form-field>
        </p> 
        <p>
          <mat-form-field>
              <input 
                  matInput placeholder="Psyco Grade"
                  [(ngModel)] = "psyco"
                  name = "psyco">
          </mat-form-field> 
          </p> 
      <p>
        <mat-checkbox [(ngModel)]="payment" name="payment">I Payed my education tuition</mat-checkbox>
      </p>                   
        <div >
          <div>
            <button mat-raised-button color="primary" *ngIf="!prediction" (click) = "validation(math, psyco, payment)">{{predictText}}</button>
            <div *ngIf = "isShow">
            <button mat-raised-button color="primary" *ngIf="prediction" (click) = "toggleDisplay();validation(math, psyco, payment)">{{predictText}}</button>
            </div>
          </div>
          <div *ngIf = "!isShow">
           <mat-form-field appearance="fill" *ngIf="prediction">
             <select matNativeControl required>
               <option value="">{{prediict}}</option>
               <option value="">{{secondpre}}</option>
             </select>
           </mat-form-field>
          </div>
          <p *ngIf = "!isShow">
          <button mat-raised-button color="primary" *ngIf="prediction" (click) = "save()" >{{buttonText}}</button>
          <button mat-raised-button *ngIf="prediction" (click) = "toggleDisplay()">Cancel</button>
          </p>
        </div>
        <p class="error">{{err}}</p>
      </div>
    </form>
</mat-card>
