<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
    <mat-toolbar *ngIf = "(authService.getUser()| async)">Menu</mat-toolbar>
    <mat-nav-list *ngIf = "(authService.getUser()| async)">
      <a mat-list-item routerLink="/studentform"  routerLinkActive="active">student-form</a>
      <a mat-list-item routerLink="/students" routerLinkActive="active" >students</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Tamar test</span>
      <span class = "spacer"></span>
        <span class = "spacer"></span>
        <a class = "whitelink" 
           routerLink="/register"
           *ngIf = "!(authService.user | async)?.uid" >SignUp</a>     
        <a class = "whitelink" 
           *ngIf = "(authService.user | async)?.uid" 
           (click) = "authService.Logout()">Logout</a>  
        <a class = "whitelink" 
           routerLink="/login"
           *ngIf = "!(authService.user | async)?.uid" >Login</a>        
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
