<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div style="font-size: large;color: rgb(13, 0, 128);margin-top: 40px;">Student Table</div>

<table mat-table [dataSource]="students" class="mat-elevation-z8">

  <!-- mathAverage Column -->
  <ng-container matColumnDef="math">
    <th mat-header-cell *matHeaderCellDef  > math </th>
    <td mat-cell *matCellDef="let student" > {{student.math}} </td>
  </ng-container>

  <!-- psychometric Column -->
  <ng-container matColumnDef="psyco">
    <th mat-header-cell *matHeaderCellDef  > psyco </th>
    <td mat-cell *matCellDef="let student" > {{student.psyco}} </td>
  </ng-container>

  <!-- emailUser Column-->
  <ng-container matColumnDef="userEmail">
    <th mat-header-cell *matHeaderCellDef  > userEmail </th>
    <td mat-cell *matCellDef="let student" > {{student.userEmail}}  </td>
  </ng-container> 

    <!-- paid Column -->
    <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef  > payment </th>
        <td mat-cell *matCellDef="let student" > {{student.payment}} </td>
      </ng-container>

   <!-- result Column -->
    <ng-container matColumnDef="prediict">
        <th mat-header-cell *matHeaderCellDef  > prediict </th>
        <td mat-cell *matCellDef="let student" > {{student.prediict}} </td>
      </ng-container>

 
      <!-- delete Column-->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef > delete </th>
        <td  mat-cell *matCellDef="let student; let i = index"  > 
          <div>
            <button mat-raised-button style="color: rgb(145, 10, 163)"
            (click) = "deleteStudent(i)"
            >Delete
            </button> 
          </div>
        </td>
      </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
